@using PageAdmin.Utils;
@using PageAdmin.Common;
@{
    int parentId = ViewBag.ParentId;
    string parentGuid = ViewBag.parentGuid;
    int fieldId = ViewBag.FieldId;
    string subTable = ViewBag.Table;
    CurrentUser currentUser = ViewBag.CurrentUser;
    dynamic parentFieldData = ViewBag.FieldData;
    IEnumerable<dynamic> fieldData = Html.GetFieldList(subTable, "list", currentUser, (FromEnum)ViewBag.From);
    IEnumerable<dynamic> allfieldListData = Html.GetFieldList(subTable, "", currentUser, (FromEnum)ViewBag.From);
    string parentField = StringHelper.FirstCharUpper(parentFieldData.Name);
    string order = parentFieldData.Orderby;
    int pageSize = parentFieldData.Pagesize;
}
<div class="main" id="main">

    <div class="menu-bar-box">
        <table border=0 cellpadding=0 cellspacing=0 class="tb-head form-inline form-group-sm">
            <tr>
                <td>
                    <el-button-group>
                        <el-tooltip effect="dark" content="添加内容" placement="bottom-start">
                            <el-button size="small" type="button" v-on:click="dialog({title:'添加',url:'@Url.ActionUrl("Add")?fieldId=@fieldId&parentGuid=@parentGuid&parentId=@parentId',width:'95%',height:'95%',target:'self'})">添加</el-button>
                        </el-tooltip>
                        <el-button size="small" v-on:click="submit({url:'@Url.ActionUrl("Delete")?fieldId=@(fieldId)',data:{ids:selectedIds},confirmMsg:'确定删除吗？',success:function(){loadData()},successMsg:'删除成功',beforeExecute:function(){return checkSelectedItems(selectedIds)},})">删除</el-button>
                    </el-button-group>
                </td>
                <td align="right">
                    <el-select size="small" placeholder="选择排序方式" v-model="searchInfo.orderBy" clearable v-on:change="loadData">
                        <el-option value="id desc" label="按id↓"></el-option>
                        <el-option value="id asc" label="按id↑"></el-option>
                        @foreach (var item in allfieldListData.Where(c => c.OrderItem == 1))
                        {
                            <el-option value="@(item.Name) desc" label="按@(item.Remark)↓"></el-option>
                            <el-option value="@(item.Name) asc" label="按@(item.Remark)↑"></el-option>
                        }
                    </el-select>
                    <el-select size="small" placeholder="选择搜索字段" v-model="searchInfo.searchField">
                        @foreach (var item in allfieldListData.Where(c => c.SearchType != ""))
                        {
                            <el-option value="@(item.Name)" label="按@(item.Remark)搜索"></el-option>
                        }
                        <el-option value="username" label="按用户名搜索"></el-option>
                    </el-select>
                    <el-input v-if="!isDatetime" size="small" style="width:150px;" placeholder="搜索关键词" v-model="searchInfo.searchKeyword"></el-input>
                    <el-date-picker v-if="isDatetime" size="small" v-model="searchInfo.searchKeyword" type="daterange" value-format="yyyy-MM-dd HH:mm:ss" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期"></el-date-picker>
                    <el-button size="small" v-on:click="loadData">搜索</el-button>
                </td>
            </tr>
        </table>
    </div>


    <el-table :data="dataList" row-key="Id" tooltip-effect="dark" border highlight-current-row style="width: 100%" v-on:selection-change="handleSelectionChange">
        <el-table-column type="selection" align="center" width="40"> </el-table-column>

        @foreach (var item in fieldData)
        {
            int listWords = item.ListWords;
            string remark = item.Remark;
            string field = StringHelper.FirstCharUpper(item.Name);
            string fieldType = item.FieldType;
            string valueType = item.ValueType;
            string align = "center";
            if (valueType == "nvarchar" || valueType == "text")
            {
                if (fieldType != "image" && fieldType != "file")
                {
                    align = "left";
                }
            }
            <el-table-column align="@align" label="@remark" :show-overflow-tooltip="true">
                <template slot-scope="scope">
                    @if (new string[] { "images", "files", "subtable" }.Contains(fieldType))
                    {
                        <span>{{scope.row.@field}}</span>
                    }
                    else if (fieldType == "image")
                    {
                        <a :href="scope.row.@field" target="_blank"><img :src="scope.row.@field" class="thumbnail" /></a>
                    }
                    else if (fieldType == "file")
                    {
                        <a :href="scope.row.@field" target="_blank">{{scope.row.@field}}</a>
                    }
                    else
                    {
                        <span>{{scope.row.@field}}</span>
                    }
                </template>
            </el-table-column>
        }
        <el-table-column align="center" label="用户名" prop="Username" width="160" :show-overflow-tooltip="true"></el-table-column>
        <el-table-column align="center" label="发布时间" prop="Thedate" width="180" :show-overflow-tooltip="true"></el-table-column>
        <el-table-column align="center" width="180" :show-overflow-tooltip="true">
            <template slot-scope="scope">
                <el-button-group>
                    <el-button size="small" v-on:click="dialog({title:'修改',url:'@Url.ActionUrl("Edit")?fieldId=@fieldId&id='+scope.row.Id,width:'95%',height:'95%',target:'self',shadeClose:false})">修改</el-button>
                    <el-button size="small" v-on:click="submit({url:'@Url.ActionUrl("Delete")',data:{fieldId:@fieldId,id:scope.row.Id,guid:scope.row.Guid},confirmMsg:'确定删除吗？',success:function(){loadData()}})" class="btn btn-default">删除</el-button>
                </el-button-group>
            </template>
        </el-table-column>
    </el-table>
    <ui-page-panel v-model="pageInfo" v-on:change="loadData" v-if="pageInfo.RecordCount>0"></ui-page-panel>

</div>

<script type="text/javascript">
    //vue实例化
    var vue = new Vue({
        el: "#main",
        data: {
            selectList:[],
            searchInfo: {parentId:"@parentId",parentGuid:"@parentGuid",orderBy:"",searchField:"username",searchKeyword:""} ,
            dataList: [],
            pageInfo: { PageSize: @pageSize, CurrentPage: 0, PageCount: 0, RecordCount: 0 },
            allfieldListData:@Html.Raw(JsonHelper.JsonParse(allfieldListData.Where(c => c.SearchType != ""))),
            isDatetime: false,
        },
        //过滤器
        methods: {
            handleSelectionChange: function (val) {
                this.selectList = val;
            },
            loadData: function () {
                loadData();
            }
        },
        //计算属性
        computed: {},
        watch: {
            "searchInfo.searchField": {
                handler: function (newData, oldData) {
                    var _this = this;
                    if (newData != oldData) {
                        if (newData == "username") {
                            _this.isDatetime = false;
                        } else {
                            _this.allfieldListData.some(function (item, index) {
                                if (item.Name == newData) {
                                    if (item.ValueType == "datetime") {
                                        _this.isDatetime = true;
                                    } else {
                                        _this.isDatetime = false;
                                    }
                                    return true;
                                }
                            });
                        }
                        _this.searchInfo.searchKeyword = "";
                    }
                },
                immediate: true,
                deep: true
            },
        }
    });
        //加载数据
    function loadData()
    {
        var serverData = extend(vue.searchInfo,vue.pageInfo);
        vue.ajax({
            url: "@Url.ActionUrl("PageListData")?fieldId=@fieldId",
            data: serverData,
            success: function (responseData) {
                if (responseData != "")
                {
                    console.log(responseData.PageInfo)
                    vue.dataList = responseData.Data;
                    vue.pageInfo = responseData.PageInfo;
                    vue.selectedIds = [];
                }
            }
        });
    }
    loadData();
</script>
