<div class="main" id="main">
    <div class="breadcrumb-box">
        <el-breadcrumb separator="/">
            <el-breadcrumb-item onclick="location.href=location.href"><i class="fa fa-home fa-fw"></i>用户系统设置</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <el-tabs v-model="tabIndex" type="card">
        <el-tab-pane label="用户登录设置">
            <el-form ref="form" label-width="130px" label-position="left">
                <el-form-item label="登录功能">
                    <el-radio-group v-model="loginConfig.Open">
                        <el-radio label="1">开启</el-radio>
                        <el-radio label="0">关闭</el-radio>
                    </el-radio-group>
                    <span class="help-block validate-tips-box"></span>
                </el-form-item>
                <div v-if="loginConfig.Open=='1'">
                    <el-form-item label="登录方式">
                        <ui-checkbox v-model="loginConfig.LoginType" :options="loginTypeList"></ui-checkbox>
                        <span class="help-block validate-tips-box">邮箱和手机必须经过验证后才能用于账号登录。</span>
                    </el-form-item>
                    <el-form-item label="图片验证码">
                        <el-radio-group v-model="loginConfig.VerificationCode">
                            <el-radio label="1">开启</el-radio>
                            <el-radio label="0">关闭</el-radio>
                        </el-radio-group>
                        <span class="help-block validate-tips-box"></span>
                    </el-form-item>
                    <el-form-item label="登录成功">
                        <el-checkbox v-model="loginConfig.SendEmail" false-label="0" true-label="1">发送邮件通知</el-checkbox>
                        <el-checkbox v-model="loginConfig.SendSms" false-label="0" true-label="1">发送短信通知</el-checkbox>
                        <span class="help-block validate-tips-box"></span>
                    </el-form-item>
                    <el-form-item label="通知邮件设置">
                        <div>
                            <el-input v-model="loginConfig.EmailTitle" style="width:700px;"></el-input>
                            <span class="help-block validate-tips-box">通知邮件标题</span>
                        </div>
                        <div>
                            <el-input type="textarea" :rows="3" v-model="loginConfig.EmailContent" style="width:700px;"></el-input>
                            <span class="help-block validate-tips-box">通知邮件内容,占位符${username}表示当前用户名</span>
                        </div>
                    </el-form-item>
                    <el-form-item label="通知短信模板编号" id="Login_smsSet">
                        <el-input v-model="loginConfig.SmsTemplateCode" style="width:700px;"></el-input>
                        <span class="help-block validate-tips-box">模板编号在接口提供商处设置并获取，模板占位符${username}表示当前用户名</span>
                    </el-form-item>
                    <el-form-item label="允许登录的用户组">
                        <ui-select v-model="loginConfig.MemberGroupIds" :multiple="true" style="width:700px;" v-bind:options="@Html.GetOptionsJson("pa_member_group","name","","Rank asc")"></ui-select>
                        <span class="help-block validate-tips-box">不选择则不进行用户组限制</span>
                    </el-form-item>
                    <el-form-item label="允许登录的部门">
                        <ui-cascader v-model="loginConfig.DepartmentIds" style="width:700px;" placeholder="请选择部门" :options="@Html.GetTreeJson("pa_department","name","","xuhao asc")" :props="{ expandTrigger: 'hover',multiple: true}"></ui-cascader>
                        <span class="help-block validate-tips-box">不选择则不进行部门限制</span>
                    </el-form-item>
                </div>

            </el-form>
        </el-tab-pane>
        <el-tab-pane label="用户注册设置">
            <el-form ref="form" label-width="130px" label-position="left">
                <el-form-item label="注册功能">
                    <el-radio-group v-model="regConfig.Open">
                        <el-radio label="1">开启</el-radio>
                        <el-radio label="0">关闭</el-radio>
                    </el-radio-group>
                    <span class="help-block validate-tips-box"></span>
                </el-form-item>
                <div v-if="regConfig.Open==1">
                    <el-form-item label="注册默认用户组">
                        <ui-select v-model="regConfig.DefaultMemberGroupId" clearable placeholder="请选择默认注册用户组" style="width:700px;" v-bind:options="@Html.GetOptionsJson("pa_member_group","name","CanReg=1","Rank asc")"></ui-select>
                        <span class="help-block validate-tips-box"></span>
                    </el-form-item>
                    <el-form-item label="手机表单设置">
                        <el-radio-group v-model="regConfig.MobileFieldSet">
                            <el-radio label="0">隐藏</el-radio>
                            <el-radio label="1">必填</el-radio>
                            <el-radio label="2">必填+手机验证码验证</el-radio>
                        </el-radio-group>
                        <span class="help-block validate-tips-box"></span>
                    </el-form-item>
                    <el-form-item label="手机唯一性检测">
                        <el-radio-group v-model="regConfig.MobileOnlyOne">
                            <el-radio label="1">是</el-radio>
                            <el-radio label="0">否</el-radio>
                        </el-radio-group>
                        <span class="help-block validate-tips-box">如果选择是，则一个手机只能注册一次</span>
                    </el-form-item>
                    <el-form-item label="邮箱表单设置">
                        <el-radio-group v-model="regConfig.EmailFieldSet">
                            <el-radio label="0">隐藏</el-radio>
                            <el-radio label="1">必填</el-radio>
                            <el-radio label="2">必填+邮件验证码验证</el-radio>
                        </el-radio-group>
                        <span class="help-block validate-tips-box"></span>
                    </el-form-item>
                    <el-form-item label="邮箱唯一性检测">
                        <el-radio-group v-model="regConfig.EmailOnlyOne">
                            <el-radio label=1>是</el-radio>
                            <el-radio label=0>否</el-radio>
                        </el-radio-group>
                        <span class="help-block validate-tips-box">如果选择是，则一个邮箱只能注册一次</span>
                    </el-form-item>
                    <el-form-item label="显示自定义字段">
                        <el-radio-group v-model="regConfig.ShowCustomField">
                            <el-radio label="1">是</el-radio>
                            <el-radio label="0">否</el-radio>
                        </el-radio-group>
                        <span class="help-block validate-tips-box">自定义字段配置方法：系统管理>表>系统表>查找pa_member，进入字段管理中配置</span>
                    </el-form-item>
                    <el-form-item label="注册后状态">
                        <el-radio-group v-model="regConfig.DefaultState">
                            <el-radio label="1">通过审核</el-radio>
                            <el-radio label="0">需后台人工审核</el-radio>
                        </el-radio-group>
                        <span class="help-block validate-tips-box">只有通过审核的用户才能登录</span>
                    </el-form-item>
                    <el-form-item label="图片验证码">
                        <el-radio-group v-model="regConfig.VerificationCode">
                            <el-radio label="1">开启</el-radio>
                            <el-radio label="0">关闭</el-radio>
                        </el-radio-group>
                        <span class="help-block validate-tips-box"></span>
                    </el-form-item>
                    <el-form-item label="注册成功通知">
                        <el-checkbox v-model="regConfig.SendEmail" false-label="0" true-label="1">发送邮件通知</el-checkbox>
                        <el-checkbox v-model="regConfig.SendSms" false-label="0" true-label="1">发送短信通知</el-checkbox>
                        <span class="help-block validate-tips-box"></span>
                    </el-form-item>
                    <el-form-item label="通知邮件设置">
                        <div>
                            <el-input v-model="regConfig.EmailTitle" style="width:700px;"></el-input>
                            <span class="help-block validate-tips-box">通知邮件标题</span>
                        </div>
                        <div>
                            <el-input type="textarea" :rows="3" v-model="regConfig.EmailContent" style="width:700px;"></el-input>
                            <span class="help-block validate-tips-box">通知邮件内容，占位符${username}表示注册用户，${password}表示密码</span>
                        </div>
                    </el-form-item>
                    <el-form-item label="通知短信模板编号">
                        <el-input v-model="regConfig.SmsTemplateCode" style="width:700px;"></el-input>
                        <span class="help-block validate-tips-box">填写模板编号，模板占位符${username}表示注册用户，${password}表示密码。</span>
                    </el-form-item>
                </div>
                <el-form-item label="注册协议设置" id="Login_smsSet">
                    <el-button v-on:click="dialog({title:'注册协议设置', url:'@Url.ActionUrl("RegAgreement")',width:'100%',height:'100%'})" size="small">设置用户注册协议</el-button>
                </el-form-item>
            </el-form>
        </el-tab-pane>
        <el-tab-pane label="找回密码设置" name="2">
            <el-form ref="form" label-width="130px" label-position="left">
                <el-form-item label="找回密码功能">
                    <el-radio-group v-model="findPassConfig.Open">
                        <el-radio label="1">开启</el-radio>
                        <el-radio label="0">关闭</el-radio>
                    </el-radio-group>
                    <span class="help-block validate-tips-box"></span>
                </el-form-item>
                <div v-if="findPassConfig.Open==1">
                    <el-form-item label="密码找回方式">
                        <el-checkbox v-model="findPassConfig.FindByEmail" false-label="0" true-label="1">通过邮箱验证码找回</el-checkbox>
                        <el-checkbox v-model="findPassConfig.FindByMobile" false-label="0" true-label="1">通过手机验证码短信找回</el-checkbox>
                        <span class="help-block validate-tips-box">用户的邮箱或手机必须通过验证才能用于密码找回</span>
                    </el-form-item>
                    <el-form-item label="图片验证码">
                        <el-radio-group v-model="findPassConfig.VerificationCode">
                            <el-radio label="1">开启</el-radio>
                            <el-radio label="0">关闭</el-radio>
                        </el-radio-group>
                        <span class="help-block validate-tips-box"></span>
                    </el-form-item>
                </div>
            </el-form>
        </el-tab-pane>
        <el-tab-pane label="用户中心设置">
            <el-form ref="form" label-width="180px" label-position="left">
                <el-form-item label="用户中心首页链接地址">
                    <el-input v-model="memberCenterConfig.HomeLink" style="width:700px;"></el-input>
                    <span class="help-block validate-tips-box">用户中心返回首页的链接地址，不设置则默认系统绑定的主域名</span>
                </el-form-item>
                <el-form-item label="是否允许修改用户名">
                    <el-select v-model="memberCenterConfig.CanModifyUsername" placeholder="请选择" style="width:400px;color:black;">
                        <el-option value="1" label="是"></el-option>
                        <el-option value="0" label="否"></el-option>
                    </el-select>
                    <span class="help-block validate-tips-box">如果没有必须的需求，建议不要开启，避免信息表之类用户名混乱</span>
                </el-form-item>
                <el-form-item label="登录是否需要完善资料">
                    <el-select v-model="memberCenterConfig.LoginedMustFillInformation" placeholder="请选择" style="width:400px;color:black;">
                        <el-option value="1" label="是"></el-option>
                        <el-option value="0" label="否"></el-option>
                    </el-select>
                    <span class="help-block validate-tips-box">设置为是后，用户登录后将强制到资料页面完善资料。</span>
                </el-form-item>
                <el-form-item label="用户中心公告栏目">
                    <ui-cascader v-model="memberCenterConfig.NoticeColumnId" style="width:400px;" :options="@Html.GetTreeJson("pa_column")" :props="{ expandTrigger: 'hover',multiple: false}"></ui-cascader>
                    <span class="help-block validate-tips-box">用户中心首页显示</span>
                </el-form-item>
                <el-form-item label="管理中心公告栏目">
                    <ui-cascader v-model="adminCenterConfig.NoticeColumnId" style="width:400px;" :options="@Html.GetTreeJson("pa_column")" :props="{ expandTrigger: 'hover',multiple: false}"></ui-cascader>
                    <span class="help-block validate-tips-box">后台管理首页显示</span>
                </el-form-item>
            </el-form>
        </el-tab-pane>
    </el-tabs>
    <div class="footer-submit-bar" style="padding-left:100px">
        <el-button type="primary" v-on:click="postSubmit">提交保存</el-button>
    </div>
</div>


<script type="text/javascript">
    var configData = {
        loginConfig:@Html.Raw(ViewBag.LoginConfig),
        regConfig:@Html.Raw(ViewBag.RegConfig),
        findPassConfig:@Html.Raw(ViewBag.FindPassConfig),
        memberCenterConfig:@Html.Raw(ViewBag.MemberCenterConfig),
        adminCenterConfig:@Html.Raw(ViewBag.AdminCenterConfig),
    };
    var vue = new Vue({
        el: "#main",
        data: {
            tabIndex: 0,
            loginConfig: configData.loginConfig,
            regConfig: configData.regConfig,
            findPassConfig: configData.findPassConfig,
            memberCenterConfig: configData.memberCenterConfig,
            adminCenterConfig: configData.adminCenterConfig,
            memberGroup: [],
            loginTypeList: [{ value: 'username', label: '用户名+密码' }, { value: 'email', label: '邮箱+密码' }, { value: 'mobile', label: '手机+密码' }]
        },
        methods: {
            postSubmit: function () {
                var validated = this.validateForm({});//jquery表单验证
                if (validated) {
                    this.submit({ url: "@Url.ActionUrl("Update")", data: configData, contentType: "application/json" });
                }
            }
        }
    });
</script>


