@{
    int columnId = Html.CurrentColumnId();
    dynamic infoData = Html.InfoData();
    string author=infoData.Author;
    dynamic prevData = Html.InfoDataPrevious(null,"columnid=@columnId",new{columnId = columnId});
    dynamic nextData = Html.InfoDataNext(null, "columnid=@columnId", new{columnId =columnId});
}

<div class="container mycontainer padding-top-20 clearFix">
    
    <div class="leftnav-box float-right">
        @Html.Partial("leftNavPartial")
    </div>
    <div class="rightmain-box float-left padding-right-30">
        @Html.Partial("BreadcrumbPartial")
        <div class="info-content">
            <h4 class="line-height-3">@infoData.Title</h4>
            <div class="text-left font-size-12 text-gray">
                <span title="发布时间" class="margin-right-10"><i class="fa fa-clock-o"></i> @infoData.Thedate.ToString("yyyy-MM-dd")</span>
                <span class="margin-right-10">已有<span id="lb_clicks">0</span>人阅读</span>
                <span>作者: @(author==""?"佚名":author)</span>
            </div>
            <div class="info-content padding-top-20" id="Content">
                @Html.Raw(infoData.Content)
            </div>
        </div>
        
     @Html.Partial("RelativeNewsModel", new Dictionary<string, string>() { { "Table", "article" }, { "Ids", (string)infoData.RelativeIds } })
        
        <div class="clearFix padding-top-20 padding-bottom-30 line-height-2">
            <ul>
                @if (prevData != null)
                {
                    string url = Html.InfoDataUrl((int)prevData.ColumnId, (int)prevData.Id);
                    <li class="text-yellow">Prev：<a href="@url">@prevData.Title</a></li>
                }
                @if (nextData != null)
                {
                    string url = Html.InfoDataUrl((int)nextData.ColumnId, (int)nextData.Id);
                    <li class="text-yellow">Next：<a href="@url">@nextData.Title</a></li>
                }
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
    var $lb_clicks = $("#lb_clicks");
    $.post("/E/InfoData/AddClicks", { ColumnId:@infoData.ColumnId,Id:@infoData.Id}, function (data) { $lb_clicks.text(data)})
</script>
