<style>
    .el-upload--picture-card{width:118px;height:118px;line-height:116px;}
    .el-upload-list--picture-card .el-upload-list__item{width:118px;height:118px;}
</style>
<div class="main" id="main">
    <div class="breadcrumb-box">
        <el-breadcrumb separator="/">
            <el-breadcrumb-item><i class="fa fa-home fa-fw"></i><a href="javascript:void(0)" onclick="location.href=location.href">系统设置</a></el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <template>
        <el-tabs v-model="tabIndex" type="card">
            <el-tab-pane label="系统参数设置" name="0">
                <el-form ref="form" label-width="130px" label-position="left">
                    <el-form-item label="AccessKeyId">
                        <el-input v-model="SystemConfig.AccessKeyId" style="width:500px;" maxlength="18"></el-input>
                        <span class="help-block validate-tips-box">AccessKeyId/AccessKeySecret具有最高权限的通讯令牌，请勿对外泄漏</span>
                    </el-form-item>

                    <el-form-item label="AccessKeySecret">
                        <el-input v-model="SystemConfig.AccessKeySecret" style="width:500px;" maxlength="32"></el-input>
                        <span class="help-block validate-tips-box">设置后请勿对外泄露</span>
                    </el-form-item>

                    <el-form-item label="网站主域名绑定">
                        <el-input v-model="WebConfig.Domain" maxlength="50" style="width:500px;" v-validate="{data:WebConfig.Domain,dataType:'*',nullMsg:'请填写网站主域名'}"></el-input>
                        <span class="help-block validate-tips-box">如：http://www.domain.net,如采用非80端口，需加上端口号，多域名建议进行绑定</span>
                    </el-form-item>

                    <el-form-item label="管理后台绑定域名" v-show="false">
                        <el-input v-model="SystemConfig.AdminDomain" maxlength="50" style="width:500px;"></el-input>
                        <span class="help-block validate-tips-box">如：http://admin.pageadmin.net，留空则默认主域名+后台地址访问</span>
                    </el-form-item>

                    <el-form-item label="会员中心绑定域名">
                        <el-input v-model="SystemConfig.MemberDomain" style="width:500px;" maxlength="50"></el-input>
                        <span class="help-block validate-tips-box">如：http://u.pageadmin.net，留空则默认主域名+/member访问</span>
                    </el-form-item>

                    <el-form-item label="域名约束方式">
                        <el-select v-model="WebConfig.DomainConstraint" style="width:500px;">
                            <el-option label="1、绑定域名和打开域名完全匹配（推荐）" value="equal"></el-option>
                            <el-option label="2、只匹配域名部分，端口不检测（适用进行端口映射的网站）" value="equal-exclude-port"></el-option>
                            <el-option label="3、绑定域名包含打开域名即可匹配" value="contain"></el-option>
                            <el-option label="4、绑定域名包含打开域名即可匹配，端口部分不检测" value="contain-exclude-port"></el-option>
                            <el-option label="5、打开域名包含绑定域名即可匹配" value="reverse-contain"></el-option>
                            <el-option label="6、打开域名包含绑定域名即可匹配，端口部分不检测" value="reverse-contain-exclude-port"></el-option>
                        </el-select>
                        <span class="help-block validate-tips-box">设置绑定域名和打开域名的匹配方式</span>
                    </el-form-item>

                    <el-form-item label="网站错误拦截">
                        <el-radio-group v-model="SystemConfig.ExceptionHandled">
                            <el-radio label="true">开启</el-radio>
                            <el-radio label="false">关闭</el-radio>
                        </el-radio-group>
                        <span class="help-block validate-tips-box">注：在网站调试过程中建议关闭，方便错误的追踪，开启后，错误只保存到日志中，提升安全性！</span>
                    </el-form-item>

                    <el-form-item label="数据表缓存时间">
                        <el-input v-model="SystemConfig.TableCacheMinutes" style="width:150px;" maxlength="10" onkeyup="if(isNaN(value) || value.Trim()==''){this.value='60'}"></el-input>分钟
                        <span class="help-block validate-tips-box">0为不进行缓存，正常上线后可根据实际设置</span>
                    </el-form-item>

                    <el-form-item label="自动任务执行间隔">
                        <el-input v-model="SystemConfig.AutoTaskInterval" style="width:150px;" maxlength="10" onkeyup="if(isNaN(value) || value.Trim()==''){this.value='600'}"></el-input>秒
                        <span class="help-block validate-tips-box">单位为秒，信息的自动上线，自动过期，计划任务等时间间隔，设为0表示所有自动任务不会执行</span>
                    </el-form-item>

                    <el-form-item label="日志自动清理">
                        <el-input v-model="SystemConfig.LogExpire" maxlength="10" style="width:150px;" onkeyup="if(isNaN(value) || value.Trim()==''){this.value='10'}"></el-input>天前的日志
                        <span class="help-block validate-tips-box">0为不自动清理</span>
                    </el-form-item>
                </el-form>
            </el-tab-pane>
            <el-tab-pane label="安全设置" name="1">
                <el-form ref="form" label-width="150px" label-position="left">
                    <el-form-item label="安装界面">
                        <el-radio-group v-model="WebConfig.InstallEnabled">
                            <el-radio label="false">禁止安装</el-radio>
                            <el-radio label="true">允许安装</el-radio>
                        </el-radio-group>
                        <span class="help-block validate-tips-box">如果不需要运行<a href="/Initialization/Install" target="_blank"><span class="label label-default">安装界面</span></a>，请设为禁止安装，否则会导致安全隐患</span>
                    </el-form-item>


                    <el-form-item label="后台目录">
                        <el-input v-model="SystemConfig.AdminPath" style="width:500px;" maxlength="20" v-validate="{data:SystemConfig.AdminPath,dataType:'*',nullMsg:'请填写后台目录!',errorMsg:'后台目录只能由数字好字符串组成!'}"></el-input>
                        <span class="help-block validate-tips-box"></span>
                    </el-form-item>
              

                    <el-form-item label="后台登陆认证码">
                        <el-input v-model="SystemConfig.AdminAuthenticationCode" style="width:500px;" maxlength="10"></el-input>
                        <span class="help-block validate-tips-box">留空则表示不填写</span>
                    </el-form-item>

                    <el-form-item label="加密秘钥">
                        <el-input v-model="SystemConfig.SecretKey" readonly style="width:500px;" maxlength="50">
                            <el-button slot="append" onclick="newGuid()">随机生成</el-button>
                        </el-input>
                        <span class="help-block validate-tips-box">第一次使用务必修改，主要用于系统的对称加密秘钥</span>
                    </el-form-item>

                    <el-form-item label="密码复杂程度验证">
                        <el-input v-model="SystemConfig.PasswordRegex" style="width:500px;"></el-input>
                        <span class="help-block validate-tips-box">填写正则表达式，留空则不进行验证</span>
                    </el-form-item>

                    <el-form-item label="后台允许的IP段">
                        <el-input v-model="SystemConfig.AdminIPLimit" type="textarea" style="width:90%;" onkeyup="this.value=this.value.replace(/[\r\n]/g,'')"></el-input>
                        <span class="help-block validate-tips-box">ip之间用分隔符“|”线隔开,结尾支持通配符，例如"192.168.*"可匹配192.168.0.0～192.168.255.255范围内的Ip</span>
                    </el-form-item>
                    <el-form-item label="时间戳有效期">
                        <el-input v-model="SystemConfig.TimestampInterval" style="width:150px" maxlength="5" onkeyup="if(isNaN(value) || value.Trim()=='' || value.Trim()=='0'){this.value='1'}"></el-input>分钟
                        <span class="help-block validate-tips-box">系统默认的Api请求都需要带有时间戳，超过有效期后请求将失效</span>
                    </el-form-item>
                    <el-form-item label="登录过期时间">
                        <el-input v-model="SystemConfig.LoginedExpireMinutes" style="width:150px" maxlength="5" onkeyup="if(isNaN(value) || value.Trim()=='' || value.Trim()=='0'){this.value='10'}"></el-input>分钟
                        <span class="help-block validate-tips-box">用户登录后，如果不做任何操作，将会在规定时间内过期并退出</span>
                    </el-form-item>
                    <el-form-item label="登录出错保护">
                        <el-select v-model="SystemConfig.LoginProtect">
                            <el-option label="关闭" value=""></el-option>
                            <el-option label="后台登录" value="admin"></el-option>
                            <el-option label="会员登录" value="member"></el-option>
                            <el-option label="后台登录和会员登录" value="all"></el-option>
                        </el-select>
                        <span class="help-block validate-tips-box"></span>
                    </el-form-item>
                    <el-form-item label="登陆出错数上限" v-show="SystemConfig.LoginProtect!=''">
                        <el-input v-model="SystemConfig.LoginLockErrorTimes" style="width:150px" maxlength="10" onkeyup="if(isNaN(value) || value.Trim()=='' || value.Trim()=='0'){this.value='3'}"></el-input>
                        <span class="help-block validate-tips-box">出错超过上限后将被锁定，0则不进行限制</span>
                    </el-form-item>
                    <el-form-item label="登陆锁定时间">
                        <el-input v-model="SystemConfig.LoginLockMinutes" style="width:150px" maxlength="10" onkeyup="if(isNaN(value) || value.Trim()=='' || value.Trim()=='0'){this.value='30'}"></el-input>分钟
                        <span class="help-block validate-tips-box">被锁定后的自动解锁时间，0则不进行锁定</span>
                    </el-form-item>
                    <el-form-item label="同一用户同时登陆">
                        <el-select v-model="SystemConfig.MultipleLogin">
                            <el-option label="不允许（推荐）" value="false"></el-option>
                            <el-option label="允许" value="true"></el-option>
                        </el-select>
                        <span class="help-block validate-tips-box">选择不允许，如果多个用户同时登陆，后登陆的用户会把前面登陆的用户退出</span>
                    </el-form-item>
                    <el-form-item label="登录cookie Ip校验">
                        <el-select v-model="SystemConfig.CheckLoginIP">
                            <el-option label="是" value="true"></el-option>
                            <el-option label="否" value="false"></el-option>
                        </el-select>
                        <span class="help-block validate-tips-box">如果进行ip校验，电脑ip更换后登陆将失效。</span>
                    </el-form-item>
                    <el-form-item label="允许编辑文件白名单">
                        <ui-tag v-model="FileConfig.CanReadExt"></ui-tag>
                        <span class="help-block validate-tips-box">设置后可以在文件管理中进行内容编辑，建议只设置文本类型文件格式</span>
                    </el-form-item>
                    <el-form-item label="上传文件白名单">
                        <ui-tag v-model="FileConfig.CanUploadExt"></ui-tag>
                        <span class="help-block validate-tips-box">填写文件后缀，文件上传、修改扩展名等操作都会对格式进行检测，不允许的格式将会被禁止</span>
                    </el-form-item>
                </el-form>
            </el-tab-pane>
            <el-tab-pane label="文件上传设置" name="2">
                <!--更新或读取Thumbnail_config-->
                <el-form ref="form" label-width="140px" label-position="left">
                    <!--更新或读取WaterMark.config-->
                    <el-form-item label="水印功能">
                        <el-radio-group v-model="WaterMarkConfig.Open">
                            <el-radio label="0">关闭</el-radio>
                            <el-radio label="1">开启</el-radio>
                        </el-radio-group>
                        <span class="help-block validate-tips-box"></span>
                    </el-form-item>
                    <div id="waterMarkConfig">
                        <div v-show="WaterMarkConfig.Open=='1'">
                            <el-form-item label="水印图片路径">
                                <ui-picture-upload action="@Url.ActionUrl("Index","UploadApi")" v-model="WaterMarkConfig.Image" return-type="string" :limit="1" :max-size="10240" list-type="picture-card" 
                                                   :file-list="(WaterMarkConfig.Image==''?[]:[{name: '', url: WaterMarkConfig.Image}])" accept=".jpg,.jpeg,.gif,.png" :data="{savePath:'/Upload/',newFileName:'waterMark.png',fileType:'image',deleteRepeat:1}">
                                    <i class="el-icon-plus"></i>
                                </ui-picture-upload>
                                <span class="help-block validate-tips-box">建议用透明png文件作为水印图片,注意上传之前把水印图片处理到合适的尺寸</span>
                            </el-form-item>
                            <el-form-item label="水印位置">
                                <el-select v-model="WaterMarkConfig.Position">
                                    <el-option label="左上角" value="1"></el-option>
                                    <el-option label="顶部中间" value="2"></el-option>
                                    <el-option label="右上角" value="3"></el-option>
                                    <el-option label="左侧" value="4"></el-option>
                                    <el-option label="正中" value="5"></el-option>
                                    <el-option label="右侧" value="6"></el-option>
                                    <el-option label="左下角" value="7"></el-option>
                                    <el-option label="底部中间" value="8"></el-option>
                                    <el-option label="右下角" value="9"></el-option>
                                </el-select>
                                <span class="help-block validate-tips-box"></span>
                            </el-form-item>
                            <el-form-item label="水印图质量">
                                <el-select v-model="WaterMarkConfig.Quality">
                                    <el-option label="1" value="10"></el-option>
                                    <el-option label="2" value="20"></el-option>
                                    <el-option label="3" value="30"></el-option>
                                    <el-option label="4" value="40"></el-option>
                                    <el-option label="5" value="50"></el-option>
                                    <el-option label="6" value="60"></el-option>
                                    <el-option label="7" value="70"></el-option>
                                    <el-option label="8" value="80"></el-option>
                                    <el-option label="9" value="90"></el-option>
                                    <el-option label="10" value="100"></el-option>
                                </el-select>
                                <span class="help-block validate-tips-box"></span>
                            </el-form-item>
                            <el-form-item label="水印透明度">
                                <el-select v-model="WaterMarkConfig.Alpha">
                                    <el-option label="1" value="1"></el-option>
                                    <el-option label="2" value="2"></el-option>
                                    <el-option label="3" value="3"></el-option>
                                    <el-option label="4" value="4"></el-option>
                                    <el-option label="5" value="5"></el-option>
                                    <el-option label="6" value="6"></el-option>
                                    <el-option label="7" value="7"></el-option>
                                    <el-option label="8" value="8"></el-option>
                                    <el-option label="9" value="9"></el-option>
                                    <el-option label="10" value="10"></el-option>
                                </el-select>
                                <span class="help-block validate-tips-box"></span>
                            </el-form-item>
                            <el-form-item label="增加水印条件">
                                <span>
                                    图片宽大于<el-input v-model="WaterMarkConfig.MinWidth" style="width:100px;margin:0px 5px;" maxlength="4" onkeyup="if(isNaN(value) || value.Trim()=='' || value.Trim()=='0'){this.value='300'}"></el-input>px
                                </span>
                                <span>
                                    图片高大于<el-input v-model="WaterMarkConfig.MinHeight" style="width:100px;margin:0px 5px;" maxlength="4" onkeyup="if(isNaN(value) || value.Trim()=='' || value.Trim()=='0'){this.value='300'}"></el-input>px
                                </span>
                                <span class="help-block validate-tips-box"></span>
                            </el-form-item>
                            <el-form-item label="编辑器图片加水印">
                                <el-radio-group v-model="WaterMarkConfig.UsedInEditor">
                                    <el-radio label="1">是</el-radio>
                                    <el-radio label="0">否</el-radio>
                                </el-radio-group>
                                <span class="help-block validate-tips-box">如果需要编辑器上传图片自动添加水印，请选择是</span>
                            </el-form-item>
                        </div>
                    </div>

                    <!--更新或读取Editor.config的image节点-->
                    <div id="editorConfig">
                        <el-form-item label="编辑器图片格式">
                            <ui-tag v-model="EditorConfig.ImageExt"></ui-tag>
                            <span class="help-block validate-tips-box">允许上传的图片格式</span>
                        </el-form-item>
                        <el-form-item label="编辑器图片最大限制">
                            <el-input v-model="EditorConfig.ImageMaxSize" style="width:100px;" maxlength="9" onkeyup="if(isNaN(value) || value.Trim()=='' || value.Trim()=='0'){this.value='1024'}"></el-input>
                            <span class="help-block validate-tips-box">单位:KB，图片上传最大限制</span>
                        </el-form-item>
                        <el-form-item label="编辑器视频格式">
                            <ui-tag v-model="EditorConfig.MediaExt"></ui-tag>
                            <span class="help-block validate-tips-box">允许上传的视频格式</span>
                        </el-form-item>
                        <el-form-item label="编辑器视频最大限制">
                            <el-input v-model="EditorConfig.MediaMaxSize" style="width:100px;" maxlength="9" onkeyup="if(isNaN(value) || value.Trim()=='' || value.Trim()=='0'){this.value='1024'}"></el-input>
                            <span class="help-block validate-tips-box">单位:KB，视频文件上传最大限制</span>
                        </el-form-item>
                        <el-form-item label="编辑器附件格式">
                            <ui-tag v-model="EditorConfig.FileExt"></ui-tag>
                            <span class="help-block validate-tips-box">允许上传的附件格式</span>
                        </el-form-item>
                        <el-form-item label="编辑器附件最大限制">
                            <el-input v-model="EditorConfig.FileMaxSize" style="width:100px;" maxlength="9" onkeyup="if(isNaN(value) || value.Trim()=='' || value.Trim()=='0'){this.value='1024'}"></el-input>
                            <span class="help-block validate-tips-box">单位:KB，文件上传最大限制</span>
                        </el-form-item>
                    </div>
                </el-form>
            </el-tab-pane>
            <el-tab-pane label="远程附件" name="31">
                <el-form ref="form" label-width="140px" label-position="left" class="small">
                    <el-form-item label="开启远程附件">
                        <el-radio-group v-model="FtpConfig.Open">
                            <el-radio label="true">开启</el-radio>
                            <el-radio label="false">关闭</el-radio>
                        </el-radio-group>
                        <span class="help-block">开启后上传的文件将保存到远程服务器中</span>
                    </el-form-item>
                </el-form>
                <el-form ref="form" label-width="140px" label-position="left" class="small" v-show="FtpConfig.Open=='true'">
                        <el-form-item label="Ftp服务器">
                            <el-input v-model="FtpConfig.FtpServer" maxlength="100" v-validate="{data:FtpConfig.FtpServer,dataType:'*',nullMsg:'请填写Ftp服务器地址',ignore:(FtpConfig.Open!='true')}"></el-input>
                            <span class="help-block">可以填写ftp的Ip地址或域名，同一个集群或局域网建议填写内网IP，提升上传速度</span>
                        </el-form-item>

                        <el-form-item label="Ftp用户名">
                            <el-input v-model="FtpConfig.Username" maxlength="40" v-validate="{data:FtpConfig.Username,dataType:'*',nullMsg:'请填写Ftp用户名！',ignore:(FtpConfig.Open!='true')}"></el-input>
                            <span class="help-block">用户必须具有写入，删除和修改权限</span>
                        </el-form-item>

                        <el-form-item label="Ftp密码">
                            <el-input type="password" v-model="FtpConfig.Password" maxlength="40" v-validate="{data:FtpConfig.Password,dataType:'*',nullMsg:'请填写Ftp密码！',ignore:(FtpConfig.Open!='true')}"></el-input>
                            <span class="help-block"></span>
                        </el-form-item>

                        <el-form-item label="上传默认">
                            <el-radio-group v-model="FtpConfig.UsePassive">
                                <el-radio label="true">被动默认</el-radio>
                                <el-radio label="false">主动默认</el-radio>
                            </el-radio-group>
                            <span class="help-block">默认为被动模式</span>
                        </el-form-item>

                        <el-form-item label="超时时间">
                            <el-input-number v-model="FtpConfig.Timeout" style="width:200px;" maxlength="20"></el-input-number>
                            <span class="help-block">单位：秒，10为服务器默认，0则为不限制</span>
                        </el-form-item>

                        <el-form-item label="Ftp上传目录">
                            <el-input v-model="FtpConfig.RootPath" maxlength="20"></el-input>
                            <span class="help-block">虚拟主机，一般为wwwroot或root，如果自己的服务器，根据实际情况设置</span>
                        </el-form-item>

                        <el-form-item label="远程附件URL">
                            <el-input v-model="FtpConfig.FtpURL" maxlength="50" v-validate="{data:FtpConfig.FtpURL,dataType:'*',nullMsg:'请填写远程附件URL！',ignore:(FtpConfig.Open!='true')}"></el-input>
                            <span class="help-block">如：http://img.domain.cn，则附件远程路径就是：http://img.domain.cn/upload/file/1.jpg </span>
                        </el-form-item>

                    <el-form-item>
                        <el-button v-on:click="ftpTest">测试FTP服务器</el-button>
                        <span class="help-block validate-tips-box"></span>
                    </el-form-item>
                    </el-form>
            </el-tab-pane>
                <el-tab-pane label="邮件发送设置" name="3">
                    <el-form ref="form" label-width="150px" label-position="left">
                        <el-form-item label="发件邮箱">
                            <el-input v-model="EmailConfig.UserName" style="width:500px;" maxlength="45"></el-input>
                            <span class="help-block validate-tips-box">如：demo@demo.net</span>
                        </el-form-item>
                        <el-form-item label="邮箱密码">
                            <el-input type="password" v-model="EmailConfig.PassWord" style="width:500px;" maxlength="45"></el-input>
                            <span class="help-block validate-tips-box"></span>
                        </el-form-item>
                        <el-form-item label="发件方名称">
                            <el-input v-model="EmailConfig.DisplayName" style="width:500px;" maxlength="45"></el-input>
                            <span class="help-block validate-tips-box">如:PageAdmin</span>
                        </el-form-item>
                        <el-form-item label="邮箱服务器">
                            <el-input v-model="EmailConfig.Host" style="width:500px;" maxlength="45"></el-input>
                            <span class="help-block validate-tips-box">如：smtp.pageadmin.net</span>
                        </el-form-item>

                        <el-form-item label="是否启用SSl">
                            <el-radio-group v-model="EmailConfig.EnableSsl">
                                <el-radio label="false">否</el-radio>
                                <el-radio label="true">是</el-radio>
                            </el-radio-group>
                            <span class="help-block validate-tips-box"></span>
                        </el-form-item>

                        <el-form-item label="邮箱发送端口">
                            <el-input v-model="EmailConfig.Port" style="width:100px;" maxlength="10" onkeyup="if(isNaN(this.value) || value.Trim()=='' || value.Trim()=='0'){this.value='25'}"></el-input>
                            <span class="help-block validate-tips-box">默认：25，如果使用SSL协议，端口一般默认为：465</span>
                        </el-form-item>
 
                        <el-form-item label="邮件签名">
                            <el-input v-model="EmailConfig.Sign" type="textarea" :rows="3" style="width:90%;"></el-input>
                            <span class="help-block validate-tips-box"></span>
                        </el-form-item>
                        <el-form-item label="验证码邮件模板">
                            邮件标题<br />
                            <el-input v-model="SendCodeTemplateConfig.EmailTitle" maxlength="45" style="width:90%;"></el-input>
                            <span class="help-block validate-tips-box"></span>
                            邮件内容<br />
                            <el-input v-model="SendCodeTemplateConfig.EmailContent" type="textarea" :rows="4" style="width:90%;"></el-input>
                            <span class="help-block validate-tips-box">默认所有的邮件验证码邮件都共用此模板，内容中${code}表示验证码</span>
                        </el-form-item>
                        <el-form-item label="">
                            <el-button v-on:click="dialog({title:'邮件测试',url:'@Url.ActionUrl("EmailTest")',width:'600px',height:'400px',target:'self'})">发送测试邮件</el-button>
                            <span class="help-block validate-tips-box"></span>
                        </el-form-item>
                    </el-form>
                </el-tab-pane>
                <el-tab-pane label="短信发送设置" name="4">
                    <!--更新或读取Sms.config-->
                    <el-form ref="form" label-width="160px" label-position="left">
                        <el-form-item label="短信AccessKeyId">
                            <el-input v-model="SmsConfig.AccessKeyId" style="width:500px;" maxlength="50"></el-input>
                            <span class="help-block validate-tips-box">短信服务提供，请勿泄露，PageAdmin的短信接口默认采用阿里云的接口，请自行申请</span>
                        </el-form-item>
                        <el-form-item label="短信AccessKeySecret">
                            <el-input v-model="SmsConfig.AccessKeySecret" style="width:500px;" maxlength="50"></el-input>
                            <span class="help-block validate-tips-box">短信服务提供，请勿泄露</span>
                        </el-form-item>
                        <el-form-item label="短信签名">
                            <el-input v-model="SmsConfig.SignName" style="width:500px;" maxlength="20"></el-input>
                            <span class="help-block validate-tips-box">必须是经过短信接口运营商审核通过的签名</span>
                        </el-form-item>
                        <el-form-item label="验证码模板编号">
                            <el-input v-model="SendCodeTemplateConfig.SmsTemplateCode" style="width:500px;" maxlength="50"></el-input>
                            <span class="help-block validate-tips-box">默认所有的验证码功能都使用此模板编号，模板中的${code}表示验证码</span>
                        </el-form-item>
                        <el-form-item label="">
                            <el-button v-on:click="dialog({title:'短信测试',url:'@Url.ActionUrl("SmsTest")',width:'600px',height:'450px',target:'self'})">发送测试验证码</el-button>
                            <span class="help-block validate-tips-box"></span>
                        </el-form-item>
                    </el-form>
                </el-tab-pane>
</el-tabs>
    </template>
    <div class="footer-submit-bar" style="padding-left:150px">
        <el-button type="primary" v-on:click="postSubmit">提交保存</el-button>
    </div>
</div>

<script type="text/javascript">

       var configData = {
           tabIndex: "0",
           SystemConfig: @Html.Raw(ViewBag.SystemConfig),
           WebConfig:@Html.Raw(ViewBag.WebConfig),
           FileConfig:@Html.Raw(ViewBag.FileConfig),
           FtpConfig:@Html.Raw(ViewBag.FtpConfig),
           EditorConfig:@Html.Raw(ViewBag.EditorConfig),
           EmailConfig:@Html.Raw(ViewBag.EmailConfig),
           SmsConfig:@Html.Raw(ViewBag.SmsConfig),
           WaterMarkConfig:@Html.Raw(ViewBag.WaterMarkConfig),
           SendCodeTemplateConfig:@Html.Raw(ViewBag.SendCodeTemplateConfig),
    };
       if (!configData.SystemConfig.hasOwnProperty("PasswordRegex"))
       {
           configData.SystemConfig.PasswordRegex = "";
       }
      var vue= new Vue({
          el: "#main",
          data: configData,
            methods: {
                postSubmit: function () {
                    var validated = this.validateForm({ tipsStyle: 1 });//jquery表单验证
                    if (configData.WebConfig.Domain.trim() == configData.SystemConfig.MemberDomain.trim())
                    {
                        this.$message({
                            showClose: true,
                            message: '会员域名不能和主域名一样!',
                            type: 'error'
                        });
                        return false;
                    }
                    if (validated)
                    {
                        this.submit({url: "@Url.ActionUrl()", data: configData, contentType: "application/json"});
                    }

                },
                ftpTest:function ()
                {
                    var _this = this;
                    _this.submit({
                        url: '@Url.ActionUrl("FtpTest")',showSuccessMsg:false, success: function () {
                            _this.$message.success("Ftp服务器连接正常！")
                        }
                    });
                },
            },
    });

    function newGuid() {
        var guid = "";
        for (var i = 1; i <= 8; i++) {
            var n = Math.floor(Math.random() * 16.0).toString(16);
            guid += n;
        }
        vue.SystemConfig.SecretKey = guid;
    }
</script>