@model string
<div class="main" id="main">
    <div class="breadcrumb-box">
        <el-breadcrumb separator="/">
            <el-breadcrumb-item><i class="fa fa-home fa-fw"></i><a href="javascript:void(0)" onclick="location.href=location.href">角色管理</a></el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <div class="menu-bar-box">
        <table border=0 cellpadding=0 cellspacing=0 class="tb-head form-inline form-group-sm">
            <tr>
                <td>
                    <el-tooltip class="item" effect="dark" content="添加角色" placement="bottom-start">
                        <el-button size="small" v-on:click="dialog({title:'添加角色',url:'@Url.ActionUrl("add")?parent_guid=',width:'600px',height:'290px'})">
                            添加
                        </el-button>
                    </el-tooltip>
                    <el-button style="margin-left:0px;" size="small" v-on:click="submit({url:'@Url.ActionUrl("Delete")',data:{Id:getSelectedPropertys(selectList,'Id')},confirmMsg:'确定删除吗？',success:loadData,beforeExecute:function(){return checkSelectedItems(selectList)},})">
                        删除
                    </el-button>
                </td>
                <td align="right">
                    <el-select v-model="queryData.searchField" size="small" placeholder="请选择">
                        <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"></el-option>
                    </el-select>
                    <el-input size="small" v-model="queryData.searchKeyword" style="width:150px;" placeholder="输入关键词"></el-input>
                    <el-button size="small" v-on:click="loadData()">搜索</el-button>
                </td>
            </tr>
        </table>
        <el-table ref="multipleTable" :data="dataList" row-key="Id" tooltip-effect="dark" border highlight-current-row style="width: 100%" v-on:selection-change="handleSelectionChange">
            <el-table-column type="selection" width="40" :selectable="selectInit"></el-table-column>
            <el-table-column prop="Name" label="名称" min-width="100"></el-table-column>
            <el-table-column prop="Remark" label="备注" align="center" :show-overflow-tooltip="true" min-width="150"></el-table-column>
            <el-table-column label="超级管理员角色" align="center" width="150">
                <template slot-scope="scope">
                    <span :class="'sp_state is-'+scope.row.IsSuperadmin"></span>
                </template>
            </el-table-column>
            <el-table-column label="权限设置" align="center">
                <template slot-scope="scope">
                    <el-button :disabled="scope.row.IsSuperadmin==1" v-on:click="dialog({title:scope.row.Name+'-权限设置',url:'@Url.ActionUrl("Index","RolePermissions")?roleId='+scope.row.Id})" size="small">设置</el-button>
                </template>
            </el-table-column>
            <el-table-column label="操作" align="center">
                <template slot-scope="scope">
                    <div class="el-button-group">
                        <el-button v-on:click="dialog({title:'修改角色',url:'@Url.ActionUrl("Edit")?id='+scope.row.Id,width:'600px',height:'290px'})" size="small">修改</el-button>
                        <el-button :disabled="scope.row.IsSuperadmin==1" v-on:click="submit({url:'@Url.ActionUrl("Delete")',data:{id:scope.row.Id},confirmMsg:'确定删除吗？',success:loadData})" size="small">删除</el-button>
                    </div>
                </template>
            </el-table-column>
        </el-table>
    </div>
    <ui-page-panel v-if="pageInfo.RecordCount>0" v-model="pageInfo" v-on:change="loadData"></ui-page-panel>
</div>
<script type="text/javascript">
    //vue实例化
    var vue = new Vue({
        el: "#main",
        data: {
            selectList:[],
            pageInfo: { PageSize:15, CurrentPage: 1, RecordCount: 0, PageCount: 1 },
            dataList: [],
            queryData: { searchField: "name", searchKeyword: "" },
            options: [{ value: 'name', label: '按名称搜索' }, { value: 'remark', label: '按备注搜索' }],
        },
        methods: {
            loadData: function () {
                var vue = this;
                var serverData = '{"' + vue.queryData.searchField + '":"' + vue.queryData.searchKeyword + '"}';
                serverData = extend(vue.pageInfo, JSON.parse(serverData));
                vue.ajax({
                    url: "@Url.ActionUrl("PageListData")",
                    data: serverData,
                    success: function (responseData) {
                        if (responseData != "")
                        {
                            vue.dataList = responseData.Data;
                            vue.pageInfo = responseData.PageInfo;
                        }
                    }
                });
            },
            handleSelectionChange: function (val) {
                this.selectList = val;
            },
            selectInit: function (row, index) {
                if (row.IsSuperadmin == 1) {
                    return false  //不可勾选
                } else {
                    return true  //可勾选
                }
            }
        }
    });
    vue.loadData();
</script>



