@{
    string type = Request.QueryString["type"];
}
<div class="main" id="main">

    <div class="menu-bar-box">
        <el-select id="siteId" name="siteId" v-model="searchData.siteId" v-on:change="loadData">
            @foreach (var item in Html.GetSiteList())
            {
                <el-option value="@item.Id" label="@item.Remark"></el-option>
            }
        </el-select>
    </div>

    <el-table :data="dataList" border style="width: 100%">
        <el-table-column label="选择">
            <template slot-scope="scope">
                <el-radio v-model="selectedValue" :label="scope.row.Id" v-on:change="setData">{{scope.row.Remark}}（表名：{{scope.row.Name}}）</el-radio>
            </template>
        </el-table-column>
    </el-table>

    <ui-page-panel v-model="pageInfo" v-on:change="loadData" v-if="pageInfo.RecordCount>0"></ui-page-panel>

    <div class="footer-submit-bar">
        <el-button type="button" onclick="closeSelf()">关闭</el-button>
    </div>
</div>

<script type="text/javascript">
    var setData = "@Request.QueryString["setData"]";
    var parentValue = eval(setData);
    //vue实例化
    var vue = new Vue({
        el: "#main",
        data: {
            searchData: {siteId: "@(StringHelper.Format<int>(Request.QueryString["SiteId"]))", searchField: "name", searchKeyword: ""},
            pageInfo: { PageSize: 15, CurrentPage: 1, RecordCount: 0, PageCount: 1 },
            dataList: [],
            selectedValue: parentValue
        },
        methods: {
            loadData: function () {
                var vue = this;
                var serverData = extend(vue.searchData, vue.pageInfo);
                vue.ajax({
                    url: "@Url.ActionUrl("PageListData")?_isload=1",
                    data: serverData,
                    success: function (responseData) {
                        if (responseData != "")
                        {
                            vue.dataList = responseData.Data;
                            vue.pageInfo = responseData.PageInfo;
                        }
                    }
                });
            },
            setData: function ()
            {
                eval(setData + "=(this.selectedValue)");
                closeSelf();
            },
        }
    });

    vue.loadData();
</script>